.header {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    border-bottom: 1px solid darkslategray;
}

.nav-logo img {
    max-height: 40px;
}

.nav {
    display: flex;
}

.nav-item {
    padding: 0 1em;
    border: 0.5px solid black;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    background: lightgray;
}
.greetings {
    padding-top: 2em;
    padding-left: 5em;
}

.banner {
    border-bottom: 1px solid black;
    background-image: url('../pict/langit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.headquarters {
    padding: 3em;
}

.circle {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 50%;
}

.hq-items {
    padding: 2em 5em;
    display: flex;
    justify-content: space-around;
}

.footer-text {
    color: gray;
     font-size: small;
}
